.back-bot
{
	background: url(../images/back-bot.png);
	width:100%;
	height:600px;
	background-size: 100% 100%;
}

h4
{
	font-size: 26px;
	color:white;
}

.margin
{
	margin:20px;
}

.footer
{
	background: #202e3b;
}

.footer-color
{
	background: #202e3b;
	color:white !important;
	border:none;
}

.footer-color a
{
	color:white !important;
}

#text-size-big-footer
{
	color:#e1b835 !important;
	font-size: 24px;
}

.btn-fot
{
	color:#e1b835 !important;
}