.banner
{
	width:100%;
	height:220px;
	margin-top:95px;
	background: url(../images/banner.png);
	background-size: 100% 100%;

}

.banner-contacts
{
	width:100%;
	height:120px;
	margin-top:95px;
	background: url(../images/heder-top.png);
	background-size: 100% 100%;

}


.main-banner{
	width:100%;
	height:900px;
	margin-top:95px;
	background: url(../images/main-esk.png);
	background-size: 100% 100%;
}

h1
{
	color:#ffcd34;
	font-size: 26px;
}

h6
{
	color:white;
	font-size: 16px;
	line-height: 1.5;
}

.btn-banner
{
	height:40px;
	color:#2f393b;
	font-size: 18px;
	background: #ffcd34;
	text-align: center;
	padding-top: 5px;
	margin-top: 23px;
}

.contacts-text
{
	font-size: 18px;
	color:#202020 !important;
}

.about-text
{
	font-size: 16px;
	color:#202020 !important;
}

.btn-contacts
{
	background: #354b60;
	color:white;
	padding:10px;
	text-align: center;
}

.title-text
{
	color:#202e3b;
	font-size: 26px;
}

.feedback-text
{
	font-size: 14px;
	color:#202e3b;
	text-align:center;
}

.name-text
{
	font-size: 16px;
	color:#202e3b;
	text-align:center;
}